
/* Глобальные стили */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
}

/* Общие стили для всех форм */
input, button, select {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.metric-card {
    @apply bg-white p-4 rounded-lg shadow-sm border border-gray-100;
}

.metric-card h3 {
    @apply font-medium mb-2 text-base border-b pb-1;
}
